@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Corporate Headquarters<br />
    Electronics City,<br />
    ​Hosur Road<br />
    Bengaluru​ 560 100, India<br />
    <br />
    Phone: +91 80 2852 0261<br />  
    Fax: +91 80 2852 0362<br />
</address>

<address>
    <strong>Contact</strong> <a href="mailto:askus@infosys.com">askus@infosys.com</a><br />
</address>
